@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Work+Sans:wght@100;300;400;500;600;700&display=swap');

* { 
    margin: 0; 
    padding: 0;

}

body { 
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

#conferencia { 
    color: blue;
    font-size: 2rem;
}
h1 {
    color: red;
    
}
